#channel-container {
    display: block;
    overflow: auto;
    width: 100vw;
    min-height: 100vh;
    padding: 0 2rem;
    padding-bottom: 2rem;
}

#product-video-container {
    min-width: 60vw;
}

#products-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    background-color: #20262E;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

#products-container::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
}

#products-container::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 1rem;
}

.product-item {
    display: flex;
    justify-content: center;
    min-width: 90px;
    max-width: 90px;
    margin-right: 0.5rem;
}

.product-item:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.product-image {
    object-fit: cover;
    height: 60%;
    width: 100%;
    background-color: #555;
    border-radius: 0.5rem;
}

iframe {
    border-radius: 0.5rem;
}

#comments-wrapper {
    background-color: #20262E;
    border-radius: 0.5rem;
    width: 100%;
    text-align: left;
    padding: 1rem;
}

#comments-container {
    overflow-y: auto;
    margin: 1rem 0;
}

#comments-container::-webkit-scrollbar {
    width: 0.5rem;
}

#comments-container::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 1rem;
}

.comment-item {
    overflow:hidden;
    margin-top: 0.5rem;
    border-width: 1px;
    padding: 0.5rem;
}

#comment-input, #username-input {
    color: #28282F;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

#comment-input {
    resize: none;
}

#comment-form button {
    background-color: green;
    text-align: center;
    padding: 0.2rem 2rem;
    border-radius: 1rem;
}

@media all and (max-width: 1000px) {
    #wrapper {
        flex-wrap: wrap;
    }
    #comments-wrapper {
        padding-bottom: 2rem;
    }
}