li {
    list-style-type: none;
}

.video-item:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.thumbnail {
    object-fit: cover;
    border-radius: 0.5rem;
    height: 100%;
}

@media all and (max-width: 1000px) {
    #video-grid {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media all and (max-width: 670px) {
    #video-grid {
        grid-template-columns: repeat(2, 1fr)
    }
}