#channel-list-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 0 2rem;
    padding-bottom: 2rem;
}

li {
    list-style-type: none;
}

.channel-item:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.thumbnail {
    object-fit: cover;
    border-radius: 0.5rem;
    height: 100%;
}

@media all and (max-width: 1000px) {
    #channel-grid {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media all and (max-width: 670px) {
    #channel-grid {
        grid-template-columns: repeat(2, 1fr)
    }
}