#root {
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  background-color: #28282F;
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 0 2rem;
}

.header {
  padding: 1rem 0;
  display: flex;
  z-index: 100;
  position: sticky;
  background-color: #28282F;
  top: 0;
}

h2:hover {
  filter: brightness(85%);
  cursor: pointer;
}